swagger: "2.0"
info:
  title: User Service
  description: Service for getting user info
  version: ""
host: localhost:8000
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /openapi.json:
    get:
      tags:
      - user
      summary: Download ./gen/http/openapi.json
      operationId: user#/openapi.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - http
  /user:
    get:
      tags:
      - user
      summary: get user
      description: Returns User details
      operationId: user#get
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/UserGetResponseBody'
      schemes:
      - http
definitions:
  CompanyResponseBody:
    title: 'Mediatype identifier: application/vnd.user.company; view=default'
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of the company
        example: 17776535235150124829
        format: int64
      location:
        type: string
        description: Location of company
        example: Illo rerum consequatur tempore quos fuga.
      name:
        type: string
        description: Name of company
        example: Itaque minima.
    example:
      id: 12184989828510224327
      location: In dolor.
      name: At aut harum.
    required:
    - id
    - name
    - location
  CompanyResponseBodyTiny:
    title: 'Mediatype identifier: application/vnd.user.company; view=default'
    type: object
    properties:
      name:
        type: string
        description: Name of company
        example: Ut non ex saepe.
    description: CompanyResponseBodyTiny result type (default view)
    example:
      name: Est necessitatibus ipsum dolorem maiores harum.
    required:
    - name
  UserGetResponseBody:
    title: 'Mediatype identifier: application/vnd.user.user; view=default'
    type: object
    properties:
      companies:
        type: array
        items:
          $ref: '#/definitions/CompanyResponseBody'
        description: all companies user worked at
        example:
        - id: 14866265708109114846
          location: Rem similique praesentium officia quas eos consectetur.
          name: Dolorum dolor.
        - id: 14866265708109114846
          location: Rem similique praesentium officia quas eos consectetur.
          name: Dolorum dolor.
        - id: 14866265708109114846
          location: Rem similique praesentium officia quas eos consectetur.
          name: Dolorum dolor.
      id:
        type: integer
        description: ID is the unique id of the user
        example: 4541291723951065211
        format: int64
      latestCompany:
        $ref: '#/definitions/CompanyResponseBodyTiny'
      name:
        type: string
        description: Name of user
        example: Et quod et vitae quo.
    description: GetResponseBody result type (default view)
    example:
      companies:
      - id: 14866265708109114846
        location: Rem similique praesentium officia quas eos consectetur.
        name: Dolorum dolor.
      - id: 14866265708109114846
        location: Rem similique praesentium officia quas eos consectetur.
        name: Dolorum dolor.
      - id: 14866265708109114846
        location: Rem similique praesentium officia quas eos consectetur.
        name: Dolorum dolor.
      id: 4521775199469539710
      latestCompany:
        name: Est esse debitis quam laudantium eaque.
      name: Inventore voluptates necessitatibus quos nobis.
    required:
    - id
    - name
    - latestCompany
    - companies
