swagger: "2.0"
info:
  title: User Service
  description: Service for getting user info
  version: ""
host: localhost:8000
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /openapi.json:
    get:
      tags:
      - user
      summary: Download ./gen/http/openapi.json
      operationId: user#/openapi.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - http
  /user:
    get:
      tags:
      - user
      summary: get user
      description: Returns User details
      operationId: user#get
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/UserGetResponseBody'
      schemes:
      - http
  /user2:
    get:
      tags:
      - user
      summary: get2 user
      description: Returns User details
      operationId: user#get2
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/UserGet2ResponseBodyV1'
      schemes:
      - http
definitions:
  CompanyResponseBody:
    title: 'Mediatype identifier: application/vnd.user.company; view=default'
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of the company
        example: 13402860684812647254
        format: int64
      location:
        type: string
        description: Location of company
        example: Consectetur ullam ullam sed pariatur alias.
      name:
        type: string
        description: Name of company
        example: Dolores nihil aperiam ut et.
    example:
      id: 9000073761637731431
      location: Aut provident ducimus impedit.
      name: Dicta consequatur a.
    required:
    - id
    - name
    - location
  CompanyResponseBodyTiny:
    title: 'Mediatype identifier: application/vnd.user.company; view=default'
    type: object
    properties:
      name:
        type: string
        description: Name of company
        example: In dolor.
    description: CompanyResponseBodyTiny result type (default view)
    example:
      name: Eveniet et inventore voluptates necessitatibus quos nobis.
    required:
    - name
  UserGet2ResponseBodyV1:
    title: 'Mediatype identifier: application/vnd.user.user; view=v1'
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of the user
        example: 9565239557388543372
        format: int64
      name:
        type: string
        description: Name of user
        example: Ipsum dolorem maiores harum hic omnis itaque.
    description: Get2ResponseBody result type (v1 view) (default view)
    example:
      id: 4543473614913575318
      name: Illo rerum consequatur tempore quos fuga.
    required:
    - id
    - name
  UserGetResponseBody:
    title: 'Mediatype identifier: application/vnd.user.user; view=default'
    type: object
    properties:
      companies:
        type: array
        items:
          $ref: '#/definitions/CompanyResponseBody'
        description: all companies user worked at
        example:
        - id: 15652828213867574851
          location: Et deleniti voluptates deserunt.
          name: Saepe blanditiis vitae quasi.
        - id: 15652828213867574851
          location: Et deleniti voluptates deserunt.
          name: Saepe blanditiis vitae quasi.
        - id: 15652828213867574851
          location: Et deleniti voluptates deserunt.
          name: Saepe blanditiis vitae quasi.
      id:
        type: integer
        description: ID is the unique id of the user
        example: 12184989828510224327
        format: int64
      latestCompany:
        $ref: '#/definitions/CompanyResponseBodyTiny'
      name:
        type: string
        description: Name of user
        example: At aut harum.
    description: GetResponseBody result type (default view)
    example:
      companies:
      - id: 15652828213867574851
        location: Et deleniti voluptates deserunt.
        name: Saepe blanditiis vitae quasi.
      - id: 15652828213867574851
        location: Et deleniti voluptates deserunt.
        name: Saepe blanditiis vitae quasi.
      - id: 15652828213867574851
        location: Et deleniti voluptates deserunt.
        name: Saepe blanditiis vitae quasi.
      id: 4727653150976900082
      latestCompany:
        name: Praesentium officia quas eos consectetur.
      name: Dolor molestiae accusantium reprehenderit assumenda maxime.
    required:
    - id
    - name
    - latestCompany
    - companies
